<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="LastPartnerIp" value="192.168.1.33" />
      <add key="LastAudioInDevice" value="Микрофон (Realtek High Definiti" />
      <add key="LastAudioOutDevice" value="Динамики (Realtek High Definiti" />
      <add key="SamplesPerSecond" value="44100" />
      <add key="Codec" value="PCMA"/>
      <add key="BitsPerSample" value="16"/>
      <add key="PortBase" value="10500"/>
      <add key="PortDifference" value="500"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
